#####################################
# Common excludes 
#####################################
/.vs
/Debug
/Realise
#####################################
*.exe
*.~*
*.dll
*vcxproj.*
*.vcxproj
*.md
*.sln
