#####################################
# Common excludes 
#####################################
/.vs
/Debug
/Release
/results
#####################################
*.exe
*.~*
*.dll
*.vcxproj.*
*.vcxproj
*.md
*.sln
